{% extends 'base.html.twig' %}

{% block body %}

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <a href="{{ path('client_index') }}">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left">
            <div class="w3-center"><i class="fa fa-users w3-xxxlarge"></i></div>
            <div class="w3-clear"></div>
            <div class="w3-xlarge">Clientes</div>
          </div>
          <div class="w3-right w3-small">
            cadastros e atualizações
          </div>
        </div>
      </a>
    </div>
  </div>

    
{% endblock %}
